<form class="center" [formGroup]="registerForm">
    <p class="text-danger">{{registerError}}</p>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <div *ngIf="email.invalid && (email.dirty || email.touched)"class="text-danger">
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">
          Email must be valid.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)"class="text-danger">
        <div *ngIf="password.errors?.['required']">password is required.</div>
      </div>
    </div>
    <div class="form-group">
        <label for="exampleInputname1">name</label>
        <input formControlName="name" type="text" class="form-control" id="exampleInputname1" placeholder="Name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)"class="text-danger">
          <div *ngIf="name.errors?.['required']">name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputLastname1">lastname</label>
        <input formControlName="lastname" type="text" class="form-control" id="exampleInputLastname1" placeholder="Lastname">
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"class="text-danger">
          <div *ngIf="lastname.errors?.['required']">lastname is required.</div>
        </div>
      </div>
    <button type="submit" (click)="register()" class="btn btn-primary">Submit</button>
  </form>