<div class="formContainer">
    <h1>Create schedule</h1>
    <form style="width: 50%;margin: 10px auto; " (ngSubmit)="onSubmit()" #scheduleForm="ngForm">
        <div class='form-group'>
                <label for="departure">Departure Time</label>
                <p-calendar id="departure" class="form-control" inputId="departure" name="departureTime"  [timeOnly]="true" [(ngModel)]="schedule.departureTime" [showIcon]="true" [showTime]="true"></p-calendar>
            <span class="">
                <label for="arrival">Arrival Time</label>
                <p-calendar id="arrival" class="form-control" inputId="arrival" name="arrival" [timeOnly]="true" [(ngModel)]="schedule.arrivalTime" [showIcon]="true" [showTime]="true"></p-calendar>
            </span>
        </div>

        <div class='form-group'>
            <span class="">
                <label for="train">Train</label>
                <p-dropdown class="form-control" [options]="trains" inputId="train" name="train" [(ngModel)]="schedule.train" [virtualScroll]="true" [virtualScrollItemSize]="38" [editable]="true" optionLabel="id"></p-dropdown>
            </span>
        </div>

        <div class='form-group'>
            <span class="">
                <label for="origin">Origin Station</label>
                <p-dropdown class="form-control" [options]="stations" inputId="origin" name="origin" [(ngModel)]="schedule.originStation" [virtualScroll]="true" [virtualScrollItemSize]="38" [editable]="true" optionLabel="stationName"></p-dropdown>
            </span>
            <span class="">
                <label for="departure">Departure Station</label>
                <p-dropdown class="form-control" [options]="stations" inputId="departure" name="departureStat" [(ngModel)]="schedule.departureStation" [virtualScroll]="true" [virtualScrollItemSize]="38" [editable]="true" optionLabel="stationName"></p-dropdown>
            </span>
        </div>

        <p-button type="submit" label="Submit" [disabled]="!scheduleForm.form.valid" [rounded]="true"></p-button>
    </form>
</div> 