<footer class="jumbotron">
  <div class="text-center text-white">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
            interdum turpis. In vulputate interdum dolor vitae consequat. Proin
            non scelerisque elit, sit amet malesuada tellus. Cras tincidunt sed
            erat tincidunt malesuada. Proin id dui elit. Aliquam sed molestie
            turpis, eget tincidunt mi. Praesent in elit tellus.
          </p>
        </div>
      </div>
      <div class="text-center mb-2">
        <!-- Here we put some contact pages -->
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook"></i>
        </a>
      </div>
    </div>
    <div class="text-center p-3 bg-dark">
    MANUEL SÁNCHEZ SALAZAR
    </div>
  </div>
</footer>
